@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(300px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    color: transparent;
  }
  to {
    opacity: 1;
    color: var(--light);
  }
}

@keyframes slide {
  from {
    transform: translateX(calc(100vw));
  }

  to {
    transform: translateX(-160vw);
  }
}


#home-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 73px);
  background-color: var(--primary);
  margin: 0;
  text-align: center;
  color: var(--light);
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 40%;
}

.content h1 {
  animation: slide-up 1s linear;
  font-size:  3rem;
}

.content h3 {
  animation: slide-up 1s linear;
  font-size: 2rem;
}

.content p {
  animation: fade-in 1s linear 1s;
  animation-fill-mode: backwards;
  text-align: left;
  margin-top: 30px;
  font-size: 1.2rem;
  line-height: 1.5em;
  letter-spacing: .5px;
}

#conveyor {
  width: 90%;
  display: flex;
  overflow: hidden;
}

.skill {
  font-size: 2rem;
  animation: slide 20s linear infinite;
  width: 500px;
  margin-right: 20px;
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .content {
    width: 100%;
    padding: 10px;
  }

  .content h1 {
    font-size: 2rem;
  }

  .content h3 {
    font-size: 1.5rem;
  }

  .content p {
    font-size: 0.8rem;
  }

  #home-cont {
    padding: 50px;
  }

  .skill {
    animation: slide 10s linear infinite;
  }

}
