@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(300px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    color: transparent;
  }
  to {
    opacity: 1;
    color: var(--light);
  }
}

@keyframes slide {
  from {
    transform: translateX(calc(100vw));
  }

  to {
    transform: translateX(-100%);
  }
}


#home-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - 73px);
  background-color: var(--primary);
  margin: 0;
  text-align: center;
  color: var(--light);
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  padding: 2rem;
  height: auto;
  width: 50%;
  border-radius: 20px;
  box-shadow:  16px 16px 32px #bc0f2b,
  -16px -16px 32px #d41131;
}

.content h1 {
  animation: slide-up 1s linear;
  font-size:  3rem;
}

.content h3 {
  animation: slide-up 1s linear;
  font-size: 2rem;
}

.content p {
  animation: fade-in 1s linear 1s;
  animation-fill-mode: backwards;
  text-align: left;
  margin-top: 30px;
  font-size: 1.2rem;
  line-height: 1.5em;
  letter-spacing: .5px;
}

#conveyor-display {
  width: 90%;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 8px;
  -moz-box-shadow: inset 7px 7px 14px #b00e28,
                   inset -7px -7px 14px #e01234;
  -webkit-box-shadow: inset 7px 7px 14px #b00e28,
                      inset -7px -7px 14px #e01234;
  box-shadow: inset 7px 7px 14px #b00e28,
              inset -7px -7px 14px #e01234;
}

#conveyor {
  display: inline-flex;
  animation: slide 20s linear infinite;
}

.skill {
  font-size: 2rem;
  margin-right: 20px;
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .content {
    width: 100%;
    padding: 15px;
    box-shadow: none;
  }

  .content h1 {
    font-size: 2rem;
  }

  .content h3 {
    font-size: 1.5rem;
  }

  .content p {
    font-size: 0.8rem;
  }

  #conveyor-display {
    width: 100%;
    border-radius: 0;
  }
}
