#modal-cont {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  padding: 20px;
}

#modal-cont video {
  width: 80%;
}

#modal-cont button {
  align-self: flex-end;
  justify-self: flex-start;
  background-color: var(--primary);
  color: var(--light);
  border-radius: 5px;
  border: none;
  padding: 0.1em 0.4em;
  transition: transform 100ms;
  letter-spacing: 1px;
  font-size: 20px;
}

#modal-cont button:active {
  transform: scale(.95);
}